{{#each this}}
<li class="video-item post">
    <div class="video-card">
        <video src="{{videos.tiny.url}}" width="{{videos.tiny.width}}" height="{{videos.tiny.height}}"
            controls="controls"></video>
        <div class="status">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}